.header {
    background: #86b6e9;
    grid-area: header;

    text-align: center;

}

.sidebar {
    background: #dde986;
    grid-area: sidebar;
    text-align: center;


}

.object {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.main {
    background: #b8e986;
    grid-area: main;
    text-align: center;

}

.footer {
    background: #e9c986;
    grid-area: footer;




}

.gridcontainer2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10% 1fr 20%;
    height: 100vh;
    grid-template-areas:
        "header header header header"
        "sidebar sidebar sidebar main"
        "footer footer footer footer";

}

.cell {
    display: grid;
    border: 1px solid blue;
    margin: 20px;
    height: 100px;
    text-align: center;
    place-items: center;
}

.cell2 {
    display: grid;
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    gap: 30px;
    margin: 200px;
}

.cell3 {
    display: grid;
    border: 1px solid blue;
    width: 870px;
    height: 100px;
    margin-left: 200px;


}